article h1{
  text-align: center;
}
 h3{
  color: #000000;
  text-align: left;
}
article p{
  text-align: left;
  font-size: 1em;
  color: #aaaaaa;
}
.time {
  text-align: right;
  color: #5d5d5d;
  font-size: .5em;
}
nav {
  text-align: center;
  font-size: 1.25em;
  margin-bottom:0px;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
nav a:link {
  color: #aaaaaa;
}
nav a:visited {
  color: #000000;
}
img {
  border: 1px solid #000000;
  width: 20%;
  height: 20%;
}
pre {
  color: #55cc66;
  background: #001800;
  text-align: left;
  width: 100%;
}
pre span {
color: #508050;
font-weight: bold;
}
pre a:link {
color: #aaaaaa;
}